rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && (
        (firestore.exists(/databases/(default)/documents/users/$(request.auth.uid)) &&
         firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin') ||
        (request.auth.token.email == "Pinky890114@gmail.com" && request.auth.token.email_verified == true)
      );
    }

    match /gallery/{productId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
